POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

ConnectionStrings__DefaultConnection=

PARKINGGENT_PROXY_KEY=
PARKINGGENT_ADMIN_EMAILS=

RoutePlanner__BaseUrl=https://api.heigit.org/openrouteservice
RoutePlanner__ApiKey=
